tr.create-new-row td {
  padding-left: 4px; }
  tr.create-new-row td input {
    padding: 4px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px; }
    tr.create-new-row td input:focus {
      outline: none;
      border: 1px solid #52a2cc; }
  tr.create-new-row td .definition-edit-container {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px; }
    tr.create-new-row td .definition-edit-container:focus-within {
      border: 1px solid #52a2cc; }
    tr.create-new-row td .definition-edit-container input {
      width: calc(100% - 34px);
      border: none; }
      tr.create-new-row td .definition-edit-container input:focus {
        outline: none; }
  tr.create-new-row td td:nth-of-type(4),
  tr.create-new-row td td:nth-of-type(5) {
    padding-top: 12px;
    padding-left: 8px; }
