.create-variable-button {
  float: right;
  margin: 40px 40px 0 0; }

.table {
  margin: 20px 40px;
  width: calc(100% - 80px); }
  .table th:nth-of-type(1) {
    width: 25%; }
  .table tbody tr td {
    line-height: 30px; }
  .table tbody tr.editing td:nth-of-type(1),
  .table tbody tr.editing td:nth-of-type(3),
  .table tbody tr.editing td:nth-of-type(4) {
    padding-top: 13px; }
  .table td .edit-container {
    padding: 4px 4px 4px 4px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px; }
    .table td .edit-container .edit-wrapper {
      float: left;
      width: calc(100% - 68px); }
      .table td .edit-container .edit-wrapper input {
        width: 100%;
        height: 30px;
        border: none; }
  .table td.button-container {
    width: 40px; }

.modal-background {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10; }

.create-new-modal {
  position: relative;
  margin: auto;
  width: 640px;
  background-color: white;
  opacity: 1;
  border-radius: 3px;
  z-index: 100; }
  .create-new-modal .control-panel {
    width: 100%;
    min-height: 37px; }
  .create-new-modal .variable-form {
    padding: 0 10px 20px;
    width: 100%;
    background-color: #e6e6e6; }
    .create-new-modal .variable-form .label {
      padding: 10px 0 0 0;
      display: block;
      color: #595959;
      font-size: 13px;
      font-weight: 300;
      text-align: left;
      line-height: 17px; }
    .create-new-modal .variable-form input {
      padding: 3px 6px;
      width: 100%;
      height: 28px;
      border: 1px solid #b3b3b3;
      border-radius: 3px; }
    .create-new-modal .variable-form textarea {
      width: 100%;
      resize: none;
      box-sizing: border-box; }
    .create-new-modal .variable-form .editor-container {
      position: relative;
      padding: 6px 6px 4px;
      width: 100%;
      height: 72px;
      border: 1px solid #b3b3b3;
      border-radius: 3px;
      background-color: #fff; }
      .create-new-modal .variable-form .editor-container:focus-within {
        border: 1px solid #52a2cc; }
      .create-new-modal .variable-form .editor-container .textarea-wrapper {
        width: calc(100% - 33px);
        height: 100%;
        float: left; }
        .create-new-modal .variable-form .editor-container .textarea-wrapper .definition-textarea {
          height: 100%;
          border: none;
          overflow: auto; }
          .create-new-modal .variable-form .editor-container .textarea-wrapper .definition-textarea:focus {
            outline: none; }
      .create-new-modal .variable-form .editor-container .edit-expression-button {
        position: absolute;
        bottom: 8px;
        background: none;
        border: none; }
    .create-new-modal .variable-form .description-textarea {
      padding: 6px 6px 4px;
      width: 100%;
      height: 72px;
      border: 1px solid #b3b3b3;
      border-radius: 3px; }
      .create-new-modal .variable-form .description-textarea:focus {
        outline: none;
        border: 1px solid #52a2cc; }
